<p id="notice"><%= notice %></p>

<h1>Topics</h1>

<% @topics.each do |topic| %>
  <hr />
  <h2><%= topic.vote_count %> <%= link_to topic.name, topic %></h1>
  Suggested by: <strong><%= topic.suggested_by %></strong>
  <p><%= topic.description %></p>

  <%= form_for(topic, url: vote_topic_path(topic), method: :post) do |f| %>
    <%= f.submit "Vote" %>
  <% end %>
<% end %>

<br>

<%= link_to 'New Topic', new_topic_path %>
