<p id="notice"><%= notice %></p>

<h1>Topics</h1>

<% @topics.each do |topic| %>
  <hr />
  <h2><%= link_to topic.name, topic %></h1>
  Suggested by: <strong><%= topic.suggested_by %></strong>
  <p><%= topic.description %></p>
<% end %>

<br>

<%= link_to 'New Topic', new_topic_path %>
